# Regression model on concrete dataset

In [1]:
import numpy as np
import pandas as pd

In [19]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [20]:
concrete_data.shape

(1030, 9)

In [21]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

# check for any null values

In [22]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

# split the data into predictors and target

In [23]:
# split the data into predictors and target
concrete_data_columns=concrete_data.columns

predictors=concrete_data.iloc[:,:-2]
target=concrete_data.iloc[:,-1]
predictors.shape,target.shape, predictors.columns

((1030, 7),
 (1030,),
 Index(['Cement', 'Blast Furnace Slag', 'Fly Ash', 'Water', 'Superplasticizer',
        'Coarse Aggregate', 'Fine Aggregate'],
       dtype='object'))

# PART A : Build a baseline model

# normalize the data

In [24]:
predictors_norm=(predictors-predictors.mean())/predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569

In [25]:
n_col=predictors_norm.shape[1]

# build the model

In [26]:
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split

In [27]:
xtrain,xtest,ytrain,ytest=train_test_split(predictors_norm,target,test_size=0.3)

In [28]:
def regression_model():
    model=Sequential()
    model.add(Dense(50,activation='relu',input_shape=(n_col,)))
    model.add(Dense(10,activation='relu'))
    model.add(Dense(1))
    model.compile(optimizer='adam',loss='mean_squared_error')
    return model

In [30]:
model=regression_model()
model.fit(xtrain,ytrain,epochs=50,verbose=1)

Epoch 1/50
23/23 [==============================] - 1s 4ms/step - loss: 1515.0569
Epoch 2/50
23/23 [==============================] - 0s 4ms/step - loss: 1452.8438
Epoch 3/50
23/23 [==============================] - 0s 4ms/step - loss: 1366.9554
Epoch 4/50
23/23 [==============================] - 0s 3ms/step - loss: 1240.6431
Epoch 5/50
23/23 [==============================] - 0s 3ms/step - loss: 1070.1354
Epoch 6/50
23/23 [==============================] - 0s 3ms/step - loss: 869.4204
Epoch 7/50
23/23 [==============================] - 0s 3ms/step - loss: 661.6841
Epoch 8/50
23/23 [==============================] - 0s 3ms/step - loss: 473.7131
Epoch 9/50
23/23 [==============================] - 0s 2ms/step - loss: 338.0543
Epoch 10/50
23/23 [==============================] - 0s 2ms/step - loss: 264.9357
Epoch 11/50
23/23 [==============================] - 0s 2ms/step - loss: 233.3426
Epoch 12/50
23/23 [==============================] - 0s 2ms/step - loss: 221.3038
Epoch 13/50
23/23 [==============================] - 0s 2ms/step - loss: 214.5552
Epoch 14/50
23/23 [==============================] - 0s 2ms/step - loss: 210.1657
Epoch 15/50
23/23 [==============================] - 0s 2ms/step - loss: 206.4450
Epoch 16/50
23/23 [==============================] - 0s 3ms/step - loss: 203.5617
Epoch 17/50
23/23 [==============================] - 0s 3ms/step - loss: 200.4057
Epoch 18/50
23/23 [==============================] - 0s 3ms/step - loss: 197.9133
Epoch 19/50
23/23 [==============================] - 0s 2ms/step - loss: 195.4498
Epoch 20/50
23/23 [==============================] - 0s 2ms/step - loss: 193.4085
Epoch 21/50
23/23 [==============================] - 0s 2ms/step - loss: 191.0510
Epoch 22/50
23/23 [==============================] - 0s 2ms/step - loss: 189.0546
Epoch 23/50
23/23 [==============================] - 0s 2ms/step - loss: 187.1853
Epoch 24/50
23/23 [==============================] - 0s 2ms/step - loss: 186.1959
Epoch 25/50
23/23 [==============================] - 0s 2ms/step - loss: 184.0297
Epoch 26/50
23/23 [==============================] - 0s 2ms/step - loss: 182.3056
Epoch 27/50
23/23 [==============================] - 0s 2ms/step - loss: 180.7386
Epoch 28/50
23/23 [==============================] - 0s 3ms/step - loss: 179.3237
Epoch 29/50
23/23 [==============================] - 0s 3ms/step - loss: 177.9162
Epoch 30/50
23/23 [==============================] - 0s 4ms/step - loss: 176.4146
Epoch 31/50
23/23 [==============================] - 0s 2ms/step - loss: 174.8914
Epoch 32/50
23/23 [==============================] - 0s 2ms/step - loss: 173.8541
Epoch 33/50
23/23 [==============================] - 0s 2ms/step - loss: 172.9613
Epoch 34/50
23/23 [==============================] - 0s 2ms/step - loss: 171.5907
Epoch 35/50
23/23 [==============================] - 0s 2ms/step - loss: 170.3952
Epoch 36/50
23/23 [==============================] - 0s 2ms/step - loss: 168.9417
Epoch 37/50
23/23 [==============================] - 0s 2ms/step - loss: 167.6777
Epoch 38/50
23/23 [==============================] - 0s 2ms/step - loss: 166.5344
Epoch 39/50
23/23 [==============================] - 0s 2ms/step - loss: 165.7159
Epoch 40/50
23/23 [==============================] - 0s 2ms/step - loss: 164.1666
Epoch 41/50
23/23 [==============================] - 0s 2ms/step - loss: 163.2068
Epoch 42/50
23/23 [==============================] - 0s 3ms/step - loss: 161.9133
Epoch 43/50
23/23 [==============================] - 0s 3ms/step - loss: 160.5036
Epoch 44/50
23/23 [==============================] - 0s 3ms/step - loss: 159.3173
Epoch 45/50
23/23 [==============================] - 0s 2ms/step - loss: 157.9744
Epoch 46/50
23/23 [==============================] - 0s 2ms/step - loss: 157.1682
Epoch 47/50
23/23 [==============================] - 0s 2ms/step - loss: 155.9772
Epoch 48/50
23/23 [==============================] - 0s 2ms/step - loss: 155.0915
Epoch 49/50
23/23 [==============================] - 0s 2ms/step - loss: 153.4809
Epoch 50/50
23/23 [==============================] - 0s 2ms/step - loss: 152.5744

# prediction

In [32]:
y_predict=model.predict(xtest)

10/10 [==============================] - 0s 2ms/step

In [35]:
from sklearn.metrics import mean_squared_error

print(f'mean squared error: {mean_squared_error(y_predict,ytest)}')

mean squared error: 161.18069229654478